@import '~react-md/src/scss/_colors.scss';
@import '~react-md/src/scss/_react-md.scss';

* {
    margin: auto;
}

@mixin scrollable-thumb() {
    &::-webkit-scrollbar {
        width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}

body {
    @include scrollable-thumb();

    .scrollable-thumb {
        @include scrollable-thumb();
    }
}

.Application {

    .generate-links-btn {
        margin-left: 0;
    }

    .GridList {
        .Links {
            // width: 38%;
            // margin: 0 auto;
        }

        .GraphCalls {
            // width: 58%;
            height: calc(100% - 100px);
        }
    }
}