.Links {
	.links-list {
		max-height: 30%;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 1em;
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: darkgrey;
			outline: 1px solid slategrey;
		}
	}
}